# üîåCONEX√ÉO
Estabelecer conex√£o com os bancos

In [ ]:
import psycopg2
import fdb
from dotenv import load_dotenv
import os

credentials = load_dotenv()

# Conex√µes
cur_dest = fdb.connect(
    user=os.getenv("FDB_USER"),
    password=os.getenv("FDB_PASS"),
    host=os.getenv("FDB_HOST"),
    port=os.getenv("FDB_PORT"),
    database=os.getenv("FDB_PATH"),
    charset="WIN1252"
).cursor()

cur_orig = psycopg2.connect(
    user=os.getenv("PG_USER"),
    password=os.getenv("PG_PASS"),
    host=os.getenv("PG_HOST"),
    database=os.getenv("PG_DB"),
    schema=os.getenv("PG_SCHEMA")
).cursor()

def commit():
    cur_dest.commit()

# üõ†Ô∏è FERRAMENTAS
Fun√ß√µes, vari√°veis cache, hashmaps

In [ ]:
global cadest, empresa
cadest = {}
empresa = cur_dest.execute("SELECT empresa FROM cadcli").fetchone()[0]

def limpa_tabela(tabelas):
    for tabela in tabelas:
        cur_dest.execute(f"DELETE FROM {tabela}")
    commit()

def cria_coluna(tabela, coluna):
    try:
        cur_dest.execute(f"ALTER TABLE {tabela} ADD {coluna} VARCHAR(255)")
    except fdb.DatabaseError as e:
        print(f"Erro ao criar coluna {coluna} na tabela {tabela}: {e}")
    else:
        commit()

dict_modalidades = {
    "CO":{"Licit": "MAT / SERV - CONCORRENCIA", 
          "Modlic": "CON4",
          "Codmod": 4},
    "TP":{"Licit": "MAT / SERV - TOMADA", 
          "Modlic": "TOM3",
          "Codmod": 3},
    "CC":{"Licit": "MAT / SERV - CONVITE", 
          "Modlic": "CS01",
          "Codmod": 7},
    "LE":{"Licit": "LEIL√ÉO", 
          "Modlic": "LEIL",
          "Codmod": 6},
    "DL":{"Licit": "DISPENSA", 
          "Modlic": "DI01",
          "Codmod": 1},
    "IL":{"Licit": "INEXIGIBILIDADE", 
          "Modlic": "IN01",
          "Codmod": 5},
    "PR":{"Licit": "PREG√ÉO PRESENCIAL", 
          "Modlic": "PP01",
          "Codmod": 8},
    "01":{"Licit": "PREG√ÉO PRESENCIAL", 
          "Modlic": "PP01",
          "Codmod": 8},
    "02":{"Licit": "PREG√ÉO ELETR√îNICO", 
          "Modlic": "PE01",
          "Codmod": 9},
    "03":{"Licit": "DISPENSA", 
          "Modlic": "DI01",
          "Codmod": 1},
    "04":{"Licit": "DISPENSA", 
          "Modlic": "DI01",
          "Codmod": 1},
    "06":{"Licit": "DISPENSA", 
          "Modlic": "DI01",
          "Codmod": 1},
    "CE":{"Licit": "CONCORR√äNCIA ELETR√îNICA", 
          "Modlic": "CE01",
          "Codmod": 13},
    "IN":{"Licit": "INEXIGIBILIDADE", 
          "Modlic": "IN01",
          "Codmod": 5},
    "PE":{"Licit": "PREG√ÉO ELETR√îNICO", 
          "Modlic": "PE01",
          "Codmod": 9},
}

# üõí COMPRAS
<p>Extra√ß√£o, tratamento e carregamento dos dados referentes ao m√≥dulo compras</p>

## CADASTROS BASE

### CADUNIMEDIDA

In [ ]:
limpa_tabela(("cadunimedida"))

insert = cur_dest.prepare("insert into cadunimedida(sigla,descricao) values(?,?)")

cur_orig.execute("select distinct substring(sigla,0,4) sigla, descricao from cadunidademedida where trim(sigla) <> ''")

for row in cur_orig:
    cur_dest.execute(insert, (row[0], row[1]))
commit()

### GRUPO E SUBGRUPO

In [ ]:
limpa_tabela(("cadgrupo", "cadsubgrupo"))

cur_orig.execute("""
select
	distinct
	to_char(grupo::integer, '000') grupo,
	subgrupo,
	a.descricao
from
	cgasubgrupos a
union all
select distinct
	to_char(grupo::integer, '000') grupo,
	concat(substring(mercadoria,1,1), substring(subgrupo,2,2)) subgrupo,
	b.descricao
	--, a.mercadoria
from
	cgc_vw_mercadorias a
left join cgasubgrupos b using (grupo, subgrupo)
where a.mercadoria not like '0%'                  
union all
	select
	distinct
	to_char(grupo::integer, '000') grupo,
	'000',
	a.descricao
from
	cgagrupos a
order by
	2,
	1
""")

for row in cur_orig:
    if row.subgrupo == '000':
        cur_dest.execute("insert into cadgrupo(grupo, nome) values(?, ?)", (row.grupo, row.descricao))
        commit()
    else:
        cur_dest.execute("insert into cadsubgrupo(grupo, subgrupo, nome) values(?, ?, ?)", (row.grupo, row.subgrupo, row.descricao))
commit()

### CADEST

In [ ]:
limpa_tabela(("cadest"))

insert = cur_dest.prepare("insert into cadest(grupo, subgrupo, codigo, cadpro, codreduz, disc1, ocultar, unid1, tipopro, usopro) values (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)")

cur_orig.execute("""
WITH cte AS (
    SELECT
        to_char(grupo::integer, '000') AS grupo,
        concat(substring(mercadoria,1,1), substring(subgrupo,2,2)) AS subgrupo,
        substring(mercadoria, 2, 3) AS codigo,
        concat(
            to_char(grupo::integer, '000'), '.', 
            concat(substring(mercadoria,1,1), substring(subgrupo,2,2)), '.', 
            substring(mercadoria, 2, 3)
        ) AS cadpro,
        ficha AS codreduz,
        descricao AS disc1,
        CASE WHEN inativo = 0 THEN 'N' ELSE 'S' END AS ocultar,
        unidade AS unid1,
        ROW_NUMBER() OVER (
            PARTITION BY 
                to_char(grupo::integer, '000'),
                concat(substring(mercadoria,1,1), substring(subgrupo,2,2)),
                substring(mercadoria, 2, 3),
                ficha,
                descricao,
                CASE WHEN inativo = 0 THEN 'N' ELSE 'S' END
            ORDER BY unidade
        ) AS rn
    FROM cgc_vw_mercadorias
)
SELECT *
FROM cte
WHERE rn = 1
ORDER BY grupo, subgrupo, codigo;
""")

for row in cur_orig:
    cur_dest.execute(insert, (row.grupo, row.subgrupo, row.codigo, row.cadpro, row.codreduz, row.disc1, row.ocultar, row.unid1, 'P', 'C'))
    cadest[row.codreduz] = row.cadpro
commit()

### CENTRO DE CUSTO

In [ ]:
limpa_tabela(("centrocusto"))

try:
    cur_dest.execute(f"insert into destino(cod,desti,empresa) values('000000000','CONVERSAO',{empresa})")
except fdb.DatabaseError as e:
    print(f"Erro ao inserir destino: {e}")
else:
    commit()

insert = cur_dest.prepare("""
    insert into centrocusto (codccusto, descr, ccusto, ocultar, empresa, poder, orgao, destino, pai) values (?, ?, ?, ?, ?, ?, ?, ?, ?)
""")

cur_orig.execute("""
with CTE as (
    select
        id as codccusto,
        nome as descr,
        pai,
        versao,
        row_number() over (partition by id order by versao desc) as rn
    from
        pinhalpm.cadlocalfisico
)
select
    codccusto,
    descr,
    pai
from
    CTE a
where
    rn = 1;
""")

for row in cur_orig:
    cur_dest.execute(insert, (row.codccusto, row.descr, '001', 'N', empresa, '02', '01', '000000000', row.pai))
commit()

### ALMOXARIFADOS

In [ ]:
limpa_tabela(("destino"))
cria_coluna("destino", "almox_pai")

insert = cur_dest.prepare("""insert into destino(cod,desti,empresa,almox_pai) values(?,?,?,?)""")

cur_orig.execute("""
select
	to_char(id, 'fm000000000') cod,
	nome desti,
	g.unidadeprincipal pai,
    localfisico codccusto
from
	gapunidadealmox g  
""")

for row in cur_orig:
    cur_dest.execute(insert, (row.cod, row.desti, empresa, row.pai))
    cur_dest.execute("insert into centrocusto_destino (codccusto, destino) values (?, ?)", (row.codccusto, row.cod))
commit()



## COTA√á√ÉO

### CADORC

In [ ]:
limpa_tabela(("cadorc"))

insert = cur_dest.prepare("""
insert into cadorc
	(id_cadorc,
	num,
	ano,
	numorc,
	dtorc,
	descr,
	prioridade,
	status,
	liberado,
	codccusto,
	liberado_tela) values
	(?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
""")

cur_dest.execute("""
select
	concat(solicitacao, EXTRACT(year from ANO)::INT%2000) id_cadorc,
	to_char(a.solicitacao, 'fm00000') num,
	EXTRACT(year from ANO)::INT%2000 ano,
	concat(to_char(a.solicitacao, 'fm00000/'),EXTRACT(year from ANO)::INT%2000) numorc,
	data dtorc,
	destinacao descr,
	case
		when status = 'A' then 'CA'
		when status = 'I' then 'AB'	
		else 'EC'
	end status,	
	case when status = 'C' then 'S' else 'N' end liberado,
	coalesce(b.id,0) codccusto,
	case when status = 'C' then 'L' end liberado_tela
from
	cgcsolicitacoes a
left join (SELECT DISTINCT ON (codigocompleto)
       codigocompleto,
       nome,
       id
FROM pinhalpm.cadorganoposicao
ORDER BY codigocompleto, id DESC) b
on a.lotacao = b.codigocompleto
""")

for row in cur_orig:
	insert.execute((
		row.id_cadorc,
		row.num,
		row.ano,
		row.numorc,
		row.dtorc,
		row.descr,
		'NORMAL',
		row.status,
		row.liberado,
		row.codccusto,
		row.liberado_tela
	))
commit()

### ICADORC

In [ ]:
limpa_tabela(("icadorc"))

insert = cur_dest.prepare("""
insert into icadorc (
    numorc,
    item,
    cadpro,
    qtd, 
    valor, 
    itemorc, 
    codccusto, 
    itemorc_ag,
    id_cadorc)
values(?,?,?,?,?,?,?,?,?)
""")

cur_orig.execute("""select
	concat(to_char(a.solicitacao, 'fm00000/'),EXTRACT(year from ANO)::INT%2000) numorc,
	item,
	concat(grupo, subgrupo, mercadoria) cadpro_ant,
	quantidade,
	valorestimado,
	concat(solicitacao, EXTRACT(year from ANO)::INT%2000) id_cadorc
from
	cgc_vw_itenssolicita a """)

dict_cadpros = {k:v for k, v in cur_dest.execute('select cadpro, cadpro_ant from cadest')}

for row in cur_orig:
    try:
        cadpro = dict_cadpros.get([row.cadpro_ant])
    except KeyError:
        print('Erro ao localizar cadpro para produto: ', row.cadpro_ant)
        break
    else:
        row.numorc,
        row.item,
        cadpro,
        row.quantidade,
        row.valorestimado,
        row.item,
        0,
        row.item,
        row.id_cadorc
commit()

cur_dest.execute("update icadorc a set a.codccusto = (select codccusto from cadorc b where a.id_cadorc = b.id_cadorc)")
commit()

### FCADORC

In [ ]:
select distinct
	numorc,
	fornecedor codif,
	d.nome,
	coalesce(valorc,0) valorc,
	id_cadorc,
	processo
from
	cgcprevia a
join (select
	concat(to_char(c.solicitacao, 'fm00000/'), extract(year from ANO)::INT%2000) numorc,
	sum(qtdeatendida * valor) valorc,
	concat(c.solicitacao, extract(year from ANO)::INT%2000) id_cadorc,
	processo,
	ano,
	previa,
	tipo
from
	cgcpreviaitens a
join cgc_vw_itenssolxprcp c
	using (processo,
	ano,
	tipo,
	item)
group by 1, 3, 4, 5, 6, 7)
using (processo, ano, previa)
left join cgcfornecedor d using (fornecedor)

## LICITA√á√ïES

### CADLIC

In [ ]:
limpa_tabela(("cadlic"))

insert = cur_dest.prepare("""
INSERT
		INTO
		cadlic(
		numlic,
		proclic,
		numero,
		ano,
		comp,
		licnova,
		liberacompra,
		discr,
		detalhe,
		registropreco,
		microempresa,
		numpro,
		discr7,
		datae,
		processo_data,
		dtadj,
		dthom,
		codtce,
		anomod,
		modlic,
		licit,
		codmod,
		dtpub,
		dtenc,
		valor,
		empresa,
		processo,
		processo_ano,
		dtreal)
	VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?,
	?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
""")

cur_orig.execute("""
select
	concat(numero,EXTRACT(YEAR FROM a.ano)::INT%2000) numlic,
	concat(to_char(numero,'fm000000'),'/',EXTRACT(YEAR FROM a.ano)::INT%2000) proclic,
	to_char(numero,'fm000000') numero,
	EXTRACT(YEAR FROM a.ano)::INT ano,
	case when percaprovado is not null then 3 else 1 end comp,
	1 licnova,
	'S' liberacompra,
	objeto discr,
	objetochar detalhe,
    case when upper(objeto) like '%REGISTRO DE PRE√áO%' then 'S' else 'N' end registropreco,
	'3' microempresa,
	nromodalidade numpro,
	'Menor Preco Unitario' discr7,
	digitacao datae,
	anoproc processo_data,
	datahomologacao dthom,
	b.codigoaudesp codtce,
	publicacao dtpub,
	valorestimado,
	processocompra,
	anoproc,
	coalesce(modalidade,'DL') modlic
from
	liclicitacao a
left join licaudesp b on a.numero = b.licitacao and a.ano = b.ano and b.tipoprocesso = 1
""")

for row in cur_orig:
    info_modalidades = dict_modalidades.get(row.numpro, {"Licit": "DISPENSA", "Modlic": "DI01", "Codmod": 1})

    licit = info_modalidades["Licit"]
    modlic = info_modalidades["Modlic"]
    codmod = info_modalidades["Codmod"]

    cur_dest.execute(insert, (
        row.numlic, 
        row.proclic,
        row.numero,
        row.ano,
        row.comp,
        row.licnova,
        row.liberacompra, 
        row.discr, 
        row.detalhe, 
        row.registropreco, 
        row.microempresa, 
        row.numpro, 
        row.discr7, 
        row.datae, 
        row.processo_data, 
        row.dthom, 
        row.dthom, 
        row.codtce, 
        row.ano, 
        modlic, 
        licit, 
        codmod, 
        row.dtpub,
        row.dthom, 
        row.valorestimado, 
        empresa, 
        row.processocompra, 
        row.anoproc, 
        row.datae))
commit()

cur_dest.Exec("""EXECUTE BLOCK AS
DECLARE VARIABLE DESCMOD VARCHAR(1024);
DECLARE VARIABLE CODMOD INTEGER;
BEGIN
    FOR
        SELECT CODMOD, DESCMOD FROM MODLIC INTO :CODMOD, :DESCMOD
    DO
    BEGIN
        UPDATE CADLIC SET LICIT = :DESCMOD where CODMOD = :CODMOD;
    END
END""")

cur_dest.Exec("""INSERT
    INTO
    MODLICANO (ULTNUMPRO,
    CODMOD,
    ANOMOD,
    EMPRESA)
SELECT
    COALESCE(MAX(NUMPRO), 0),
    CODMOD,
    COALESCE(ANO, 0) ANO,
    EMPRESA
FROM
    CADLIC c
WHERE
    CODMOD IS NOT NULL
GROUP BY
    2,
    3,
    4
ORDER BY
    ano,
    codmod""")

cur_dest.Exec("""UPDATE CADLIC SET FK_MODLICANO = (SELECT PK_MODLICANO FROM MODLICANO WHERE CODMOD = CADLIC.CODMOD AND ANOMOD = CADLIC.ANO AND CADLIC.EMPRESA = MODLICANO.EMPRESA) WHERE CODMOD IS NOT NULL""")
commit()

### CADLIC SESSAO

In [ ]:
cur_dest.Exec("""INSERT INTO CADLIC_SESSAO (NUMLIC, SESSAO, DTREAL, HORREAL, COMP, DTENC, HORENC, SESSAOPARA, MOTIVO) 
SELECT L.NUMLIC, CAST(1 AS INTEGER), L.DTREAL, L.HORREAL, L.COMP, L.DTENC, L.HORENC, CAST('T' AS VARCHAR(1)), CAST('O' AS VARCHAR(1)) FROM CADLIC L 
WHERE numlic not in (SELECT FIRST 1 S.NUMLIC FROM CADLIC_SESSAO S WHERE S.NUMLIC = L.NUMLIC)""")
commit()

### PARTICIPANTES

In [ ]:
limpa_tabela(("prolics","prolic"))

insert_prolic = cur_dest.prepare("insert into prolic(numlic,codif,nome,status) values(?,?,?,?)")
insert_prolics = cur_dest.prepare("insert into prolics(sessao,numlic,codif,habilitado,status,cpf,representante) values(?,?,?,?,?,?,?)")

cur_orig.execute("""
select
	concat(licitacao,EXTRACT(YEAR FROM ano)::INT%2000) numlic,
	fornecedor,
	nome,
    cgccpf
from
	liclicfornecedor a
left join cgcfornecedor b using (fornecedor)
""")

for row in cur_orig:
    cur_dest.execute(insert_prolic, (row.numlic, row.fornecedor, row.nome, 'A'))
    cur_dest.execute(insert_prolics, (1, row.numlic, row.fornecedor, 'S', 'A', row.cgccpf, row.fornecedor))
commit()

### CADPROLIC

In [ ]:
limpa_tabela(("cadprolic_detalhe_fic", "cadprolic_detalhe", "cadprolic"))

insert_cadprolic = cur_dest.prepare("""
INSERT INTO
		cadprolic(item,
		item_mask,
		cadpro,
		quan1,
		vamed1,
		vatomed1,
		codccusto,
		reduz,
		numlic)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
""")

insert_cadprolic_detalhe = cur_dest.prepare("""insert into cadprolic_detalhe (numlic, item, cadpro, quan1, vamed1, vatomed1, codccusto) values (?, ?, ?, ?, ?, ?, ?) """)

insert_cadprolic_detalhe_fic = cur_dest.prepare("""
insert into 
        cadprolic_detalhe_fic (numlic, item, codigo, qtd, valor, qtdadt, valoradt, codccusto, qtdmed, valormed, tipo) 
values (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
""")

cur_orig.execute("""
select
	item,
	coalesce(idespecificacao,0) codreduz,
	a.qtde quan1,
	coalesce(a.valor,0) vaun1,
	coalesce(qtde*valor,0) vato1,
	0 codccusto,
	concat(licitacao, extract(year from ano)::INT%2000) numlic
from
	liclicitens a
left join cgc_vw_mercadorias b on 
	concat(grupo,'.',subgrupo,'.',mercadoria) = a.codigoitem
order by numlic, item
""")

for row in cur_orig:
    try:
        cadpro = cadest[row.codigoitem]
    except KeyError:
        print(f"Item {row.codigoitem} n√£o encontrado em cadest.")
        break

    cur_dest.execute(insert_cadprolic, (row.item, row.item, cadpro, row.quan1, row.vaun1, row.vato1, row.codccusto, 'N', row.numlic))
    cur_dest.execute(insert_cadprolic_detalhe, (row.numlic, row.item, cadpro, row.quan1, row.vaun1, row.vato1, row.codccusto))
    cur_dest.execute(insert_cadprolic_detalhe_fic, (row.numlic, row.item, row.item, row.quan1, row.vato1, row.quan1, row.vato1, row.codccusto, row.quan1, row.vato1, 'C'))
commit()

### PROPOSTA

In [ ]:
limpa_tabela(("cadpro", "cadpro_final", "cadpro_proposta"))

insert = cur_dest.prepare("""
INSERT
    INTO
    cadpro_proposta(sessao,
    codif,
    item,
    itemp,
    quan1,
    vaun1,
    vato1,
    numlic,
    status,
    subem,
    marca,
    itemlance)
VALUES(?,?,?,?,?,?,?,?,?,?,?,?)""")

cur_orig.execute("""
select
	fornecedor codif,
	itempr,
	qtde_total quan1,
	valor vaun1,
	qtde_total*valor vato1,
	concat(licitacao,EXTRACT(YEAR FROM ano)::INT%2000) numlic,
	'C' status,
	'S' itemlance
from
	lic_vw_resultado_prcompra
""")           

for row in cur_orig:
    cur_dest.execute(insert, (1, row.codif, row.itempr, row.itempr, row.quan1, row.vaun1, row.vato1, row.numlic, row.status, 1, None, row.itemlance, 'N'))
commit()

### CADPRO LANCE

In [ ]:
cur_dest.execute("""insert into cadpro_lance (sessao, rodada, codif, itemp, vaunl, vatol, status, subem, numlic)
	SELECT sessao, 1 rodada, CODIF, ITEMP, VAUN1, VATO1, 'F' status, SUBEM, numlic FROM CADPRO_PROPOSTA cp where subem = 1 and not exists
	(select 1 from cadpro_lance cl where cp.codif = cl.codif and cl.itemp = cp.itemp and cl.numlic = cp.numlic)""")
commit()

### CADPRO FINAL

In [ ]:
cur_dest.execute("""INSERT into cadpro_final (numlic, ult_sessao, codif, itemp, vaunf, vatof, STATUS, subem)
	SELECT numlic, sessao, codif, itemp, vaun1, vato1, CASE WHEN status = 'F' THEN 'C' ELSE status end, subem FROM cadpro_proposta
	WHERE NOT EXISTS (SELECT 1 FROM cadpro_final f WHERE f.numlic = cadpro_proposta.numlic AND f.itemp = cadpro_proposta.itemp AND f.codif = cadpro_proposta.codif)""")
commit()

### CADPRO

In [ ]:
cur_dest.execute("""INSERT INTO CADPRO (
    CODIF,
    CADPRO,
    QUAN1,
    VAUN1,
    VATO1,
    SUBEM,
    STATUS,
    ITEM,
    NUMORC,
    ITEMORCPED,
    CODCCUSTO,
    FICHA,
    ELEMENTO,
    DESDOBRO,
    NUMLIC,
    ULT_SESSAO,
    ITEMP,
    QTDADT,
    QTDPED,
    VAUNADT,
    VATOADT,
    PERC,
    QTDSOL,
    ID_CADORC,
    VATOPED,
    VATOSOL,
    TPCONTROLE_SALDO,
    QTDPED_FORNECEDOR_ANT,
    VATOPED_FORNECEDOR_ANT,
    marca
)
SELECT
    a.CODIF,
    c.CADPRO,
    CASE WHEN a.VAUNL <> 0 THEN ROUND((a.vatol / a.VAUNL), 2) ELSE 0 END qtdunit,
    a.VAUNL,
    CASE WHEN a.VAUNL <> 0 THEN ROUND((a.vatol / a.VAUNL), 2) * a.VAUNL ELSE 0 END VATOTAL,
    1,
    'C',
    c.ITEM,
    c.NUMORC,
    c.ITEM,
    c.CODCCUSTO,
    c.FICHA,
    c.ELEMENTO,
    c.DESDOBRO,
    a.NUMLIC,
    1,
    b.ITEMP,
    CASE WHEN a.VAUNL <> 0 THEN ROUND((a.vatol / a.VAUNL), 2) ELSE 0 END qtdunit,
    0,
    a.VAUNL,
    CASE WHEN a.VAUNL <> 0 THEN ROUND((a.vatol / a.VAUNL), 2) * a.VAUNL ELSE 0 END vatoadt,
    0,
    0,
    c.ID_CADORC,
    0,
    0,
    'Q',
    0,
    0,
    p.marca
FROM
    CADPRO_LANCE a
INNER JOIN CADPRO_STATUS b ON
    b.NUMLIC = a.NUMLIC AND a.ITEMP = b.ITEMP AND a.SESSAO = b.SESSAO
INNER JOIN CADPROLIC_DETALHE c ON
    c.NUMLIC = a.NUMLIC AND b.ITEMP = c.ITEM_CADPROLIC
INNER JOIN CADLIC D ON
    D.NUMLIC = A.NUMLIC
inner join cadpro_proposta p on 
    p.numlic = a.numlic and p.itemp = a.itemp and p.codif = a.codif
WHERE
    a.SUBEM = 1 AND a.STATUS = 'F'
    AND NOT EXISTS (
        SELECT 1 
        FROM CADPRO cp
        WHERE cp.NUMLIC = a.NUMLIC 
        AND cp.ITEM = c.ITEM 
        AND cp.CODIF = a.CODIF
    )""")
commit()

### REGPRECO

In [ ]:
cur_dest.execute("""
EXECUTE BLOCK AS  
    BEGIN  
    INSERT INTO REGPRECODOC (NUMLIC, CODATUALIZACAO, DTPRAZO, ULTIMA)  
    SELECT DISTINCT A.NUMLIC, 0, DATEADD(1 YEAR TO A.DTHOM), 'S'  
    FROM CADLIC A WHERE A.REGISTROPRECO = 'S' AND A.DTHOM IS NOT NULL  
    AND NOT EXISTS(SELECT 1 FROM REGPRECODOC X  
    WHERE X.NUMLIC = A.NUMLIC);  

    INSERT INTO REGPRECO (COD, DTPRAZO, NUMLIC, CODIF, CADPRO, CODCCUSTO, ITEM, CODATUALIZACAO, QUAN1, VAUN1, VATO1, QTDENT, SUBEM, STATUS, ULTIMA)  
    SELECT B.ITEM, DATEADD(1 YEAR TO A.DTHOM), B.NUMLIC, B.CODIF, B.CADPRO, B.CODCCUSTO, B.ITEM, 0, B.QUAN1, B.VAUN1, B.VATO1, 0, B.SUBEM, B.STATUS, 'S'  
    FROM CADLIC A INNER JOIN CADPRO B ON (A.NUMLIC = B.NUMLIC) WHERE A.REGISTROPRECO = 'S' AND A.DTHOM IS NOT NULL  
    AND NOT EXISTS(SELECT 1 FROM REGPRECO X  
    WHERE X.NUMLIC = B.NUMLIC AND X.CODIF = B.CODIF AND X.CADPRO = B.CADPRO AND X.CODCCUSTO = B.CODCCUSTO AND X.ITEM = B.ITEM);  

    INSERT INTO REGPRECOHIS (NUMLIC, CODIF, CADPRO, CODCCUSTO, ITEM, CODATUALIZACAO, QUAN1, VAUN1, VATO1, SUBEM, STATUS, MOTIVO, MARCA, NUMORC, ULTIMA)  
    SELECT B.NUMLIC, B.CODIF, B.CADPRO, B.CODCCUSTO, B.ITEM, 0, B.QUAN1, B.VAUN1, B.VATO1, B.SUBEM, B.STATUS, B.MOTIVO, B.MARCA, B.NUMORC, 'S'  
    FROM CADLIC A INNER JOIN CADPRO B ON (A.NUMLIC = B.NUMLIC) WHERE A.REGISTROPRECO = 'S' AND A.DTHOM IS NOT NULL  
    AND NOT EXISTS(SELECT 1 FROM REGPRECOHIS X  
    WHERE X.NUMLIC = B.NUMLIC AND X.CODIF = B.CODIF AND X.CADPRO = B.CADPRO AND X.CODCCUSTO = B.CODCCUSTO AND X.ITEM = B.ITEM);  
END;""")
commit()

# üì¶ ALMOXARIFADO
Extra√ß√£o, tratamento e carregamentos dos dados referentes ao m√≥dulo de almoxarifado

In [ ]:
limpa_tabela(("icadreq", "requi"))

insert_requi = cur_dest.prepare("""
INSERT
    INTO
    requi (empresa,
    id_requi,
    requi,
    num,
    ano,
    destino,
    codccusto,
    datae,
    dtlan,
    dtpag,
    entr,
    said,
    comp,
    codif,
    entr_said)
VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)
""")

insert_icadreq = cur_dest.prepare("""
    insert into icadreq (id_requi, requi, codccusto, empresa, item, quan1, quan2, vaun1, vaun2, vato1, vato2, cadpro, destino) values (?,?,?,?,?,?,?,?,?,?,?,?,?)
""")

# üèõÔ∏è PATRIM√îNIO
Extra√ß√£o, tratamento e carregamento dos dados referentes ao m√≥dulo patrim√¥nio

## CADASTROS BASE

### TIPO DE MOVIMENTA√á√ïES

In [ ]:
limpa_tabela(("pt_tipomov"))

valores = {
    "A": "Aquisi√ß√£o",
    "B": "Baixa",
    "T": "Transfer√™ncia",
    "R": "Procedimento Cont√°bil",
    "P": "Transfer√™ncia de Plano Cont√°bil",
}

cur_dest.executemany("INSERT INTO PT_TIPOMOV (codigo_tmv, descricao_tmv) VALUES (?, ?)", valores.items())

### TIPO DE AJUSTE

In [ ]:
limpa_tabela(("pt_cadbai"))

cur_dest.execute("INSERT INTO PT_CADAJUSTE (CODIGO_AJU, EMPRESA_AJU, DESCRICAO_AJU) VALUES (1, ?, 'REAVALIA√á√ÉO (ANTES DO CORTE)')", (empresa))

### TIPOS DE BAIXA

In [ ]:
limpa_tabela(("pt_cadbai"))

insert = cur_dest.prepare("INSERT INTO PT_CADBAI (CODIGO_BAI, EMPRESA_BAI, DESCRICAO_BAI) VALUES (?, ?, ?)")

cur_orig.execute("select id, descricao from pinhalpm.sppmotivobaixa s")

for row in cur_orig:
    cur_dest.execute(insert, (row.id, empresa, row.descricao))
commit()

### CONSERVA√á√ÉO

In [ ]:
limpa_tabela(("pt_cadsit"))

insert = cur_dest.prepare("INSERT INTO PT_CADSIT (CODIGO_SIT, EMPRESA_SIT, DESCRICAO_SIT) VALUES (?, ?, ?)")

cur_orig.execute("select id, s.estadoconservacao  from sppconservaporcent s")

for row in cur_orig:
    cur_dest.execute(insert, (row.id, empresa, row.estadoconservacao))
commit()

### TIPOS DE BEM

In [ ]:
limpa_tabela(("pt_cadtip"))

insert = cur_dest.prepare("INSERT INTO PT_CADTIP (CODIGO_TIP, EMPRESA_TIP, DESCRICAO_TIP) VALUES (?, ?, ?)")

cur_orig.execute("select id, nome from pinhalpm.gcpespecificacao as g order by 1")

for row in cur_orig:
    cur_dest.execute(insert, (row.id, empresa, row.nome))
commit()

### UNIDADE E SUBUNIDADE

In [ ]:
limpa_tabela(("pt_cadpats", "pt_cadpatd"))

cur_dest.execute("INSERT INTO PT_CADPATD (EMPRESA_DES, CODIGO_DES, NAUNI_DES, OCULTAR_DES) select ?, 1, clnt1, 'N' from cadcli", (empresa))

commit()

insert = cur_dest.prepare(f"INSERT INTO PT_CADPATS (codigo_set, empresa_set, codigo_des_set, noset_set, ocultar_set) VALUES (?, {empresa}, 1, ?, 'N')")

cur_orig.execute("select id, nome from cadlocalfisico c order by 1")

for row in cur_orig:
    cur_dest.execute(insert, (row.id, row.nome))
commit()

### GRUPO

In [ ]:
limpa_tabela(("pt_cadpatg"))

cur_dest.execute(f"INSERT INTO PT_CADPATG (CODIGO_GRU, EMPRESA_GRU, NOGRU_GRU) VALUES (1, {empresa}, 'GERAL')")

commit()

## BENS

In [ ]:
limpa_tabela(("pt_cadpat"))

dict_conservacoes = {k:v for k, v in cur_dest.execute("SELECT descricao_sit, codigo_sit FROM pt_cadsit").fetchall()}
dict_codigos_cpl = {k:v for k, v in cur_dest.execute("SELECT titco, balco FROM cadest").fetchall()}

insert = cur_dest.prepare(f"""
insert into pt_cadpat (
    codigo_pat,
    empresa_pat,
    codigo_gru_pat,
    chapa_pat,
    codigo_cpl_pat,
    codigo_set_pat,
    codigo_set_atu_pat,
    orig_pat,
    codigo_tip_pat,
    codigo_sit_pat,
    discr_pat,
    datae_pat,
    dtlan_pat,
    valaqu_pat,
    valatu_pat,
    codigo_for_pat,
    percenqtd_pat,
    dae_pat,
    valres_pat,
    percentemp_pat,
    nempg_pat,
    anoemp_pat,
    dtpag_pat,
    hash_sinc,
    codigo_bai_pat)
VALUES(?,{empresa},1,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)
""")

cur_orig.execute("""
select
	a.id codigo_pat,
	1 codigo_gru_pat,
	to_char(a.codigoreduzido, 'fm000000') chapa_pat,
	b.nome nome_cpl,
	c.localdestino codigo_set_pat,
	a.localfisicoatual codigo_set_atu_pat,
	orig_pat,
	a.especificacao codigo_tip_pat,	
	a.estadoincorporacao nome_sit,
	a.descricao discr_pat,
	a.tombamento datae_pat,
	a.inicioatividade dtlan_pat,
	a.valorincorporacao valaqu_pat,
	a.valoratual valatu_pat,
	a.fornecedor codigo_for_pat,
	a.vidautil,
	case when a.vidautil is not null then 'V' else 'N' end dae_pat,
	a.valorincorporacao*(a.percvlrresidual/100) valres_pat,
	'M' percentemp_pat,
	e.datamovimentacao dtpag_pat,
	e.motivo_baixa codigo_bai_pat,
    f.empenho,
	f.anoempenho
from
	sppbempatrimonial a
join gcpespecificacao b on a.especificacao = b.id
left join (with transferencias as (select
		x2.bempatrimonial,
		x1.localdestino,
		x2.movimentacao,
		row_number() over (partition by bempatrimonial order by movimentacao) rn
	from
		sppbemtransfere x1
	join sppmovbem x2 on
		x1.id = x2.movimentacao
	where
		localorigem is null
	order by 1, 3)
	select bempatrimonial, localdestino from transferencias where rn = 1) c on c.bempatrimonial = a.id
left join (select
		bempatrimonial,
		case when substring(tipo_incorporacao,1,1) = 'L' then 'I'
		when substring(tipo_incorporacao,1,1) = 'A' then 'C'
		else substring(tipo_incorporacao,1,1) end orig_pat
	from
		spp_vw_incorporacoes) d on d.bempatrimonial = a.id
left join (select datamovimentacao, motivo_baixa, bempatrimonial from spp_vw_baixas) e
on e.bempatrimonial = a.id
left join (select bempatrimonial, empenho, anoempenho from spp_vw_bemorigem) f on
a.id = f.bempatrimonial
""")

for row in cur_orig:
    codsit = dict_conservacoes.get(row.nome_sit, 1)
    codigo_cpl_pat = dict_codigos_cpl.get(row.codigo_pat, None)

    cur_dest.execute(insert, (
        row.codigo_pat,
        row.chapa_pat,
        codigo_cpl_pat,
        row.codigo_set_pat,
        row.codigo_set_atu_pat,
        row.orig_pat,
        row.codigo_tip_pat,
        codsit,
        row.discr_pat,
        row.datae_pat,
        row.dtlan_pat,
        row.valaqu_pat,
        row.valatu_pat,
        row.codigo_for_pat,
        row.vidautil,
        row.dae_pat,
        row.valres_pat,
        row.percentemp_pat,
        row.empenho,
        row.anoempenho,
        row.dtpag_pat,
        row.codigo_pat,
        row.codigo_bai_pat
    ))
commit()